<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="cx.hell.android.pdfview"
        android:installLocation="auto" android:versionCode="32000" android:versionName="0.3.2">
        
    <!--
        version code:
        xyz00E for x.y.z           : 5.4.3      becomes 54300E
        xyzDDE for x.y.(z+1)devDD  : 5.4.4dev05 becomes 54305E
        
        where E is eabi version:

         - both is 0
         - armeabi is 1
         - armeabi-v7a is 2
         
        this way armeabi-v7a will be choosen for devices supporting both architectures
        
        version code scheme will probably be revised to better fit what's described here:
        <http://developer.android.com/guide/market/publishing/multiple-apks.html#VersionCodes>
        
    -->
    

    <!-- 3 is 1.5 or later, that's more than 99% of devices -->
	<uses-sdk android:minSdkVersion="3" android:targetSdkVersion="10"/>

	<supports-screens
            android:smallScreens="true"
            android:normalScreens="true"
            android:largeScreens="true"
            android:anyDensity="true"/>


</manifest>
